body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}
.contenedorTablaHistoria{
    width: 100%;
}
.contenedorTablaHistoria > h2{
    text-align: center;
}
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    transition: all 0.3s ease;
}

.sidebar .welcome {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 10px;
}

.sidebar a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.sidebar a img.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.sidebar a:hover {
    background-color: #34495e;
    padding-left: 20px;
}

.sidebar img.logo {
    width: 100px;
    margin: 20px 0;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
    background-color: #f4f7fb;
}

/* Botón de logout */
.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logout-button:hover {
    background-color: #c0392b;
}

/* Formulario */
.form-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos de los inputs del formulario */
.form-container input, .form-container select, .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Botones */
.form-container button {
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease;
}

.form-container button:hover {
    background-color: #27ae60;
}

/* Estilos de la tabla */
.tabla-personalizada {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-personalizada th, .tabla-personalizada td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tabla-personalizada th {
    background-color: #34495e;
    color: #ecf0f1;
}

.tabla-personalizada tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.tabla-personalizada td {
    max-width: 200px;
    white-space: normal;
    word-wrap: break-word;
    /* background-color: #27ae60; */
    font-size: 12px;
   
}

.campo-largo {
    max-height: 100px;
    overflow-y: auto;
    padding-right: 10px;
    color: #2c3e50;
    font-size: 0.9em;
}

.tabla-personalizada a {
    color: #3498db;
    text-decoration: underline;
}

.tabla-personalizada a:hover {
    color: #2980b9;
}

/* Botones dentro de la tabla */
.tabla-personalizada button {
    background-color: #f39c12;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.tabla-personalizada button:hover {
    background-color: #e67e22;
}

.tabla-personalizada form button {
    background-color: #e74c3c;
}

.tabla-personalizada form button:hover {
    background-color: #c0392b;
}
.campo-largo {
    position: relative;
    max-height: none;
    overflow: hidden;
    font-size: 0.9em;
    transition: max-height 0.3s ease-out;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color: #2980b9;
}

.campo-largo a {
    position: absolute;
    bottom: 5px;
    right: 0;
}

